/* myStyle.css */


@font-face {
    font-family: garamond;
    src: url(garamond.ttf) format('embedded-opentype'),
    	 url('garamond.woff2') format('woff2'),
    	 url('garamond.woff') format('woff'), 
       	 url('garamond.ttf')  format('truetype');
       	}




@font-face {
    font-family: garamond;
    src: url(garamond.ttf) format('embedded-opentype'),
       url('garamond.woff2') format('woff2'),
       url('garamond.woff') format('woff'), 
         url('garamond.ttf')  format('truetype');
        }


div {
  font-family: garamond;

}
form{
  text-align: center;
}

.flex-container3 {
  position: relative;
  right: ;
  height: 50px;
  display: flex;
  justify-content: left;
  align-content:left;
  background-color: #000000;
  
  width:auto;
  

}


ul{
  text-align: center;
    

}
li {
  text-align: center;
 
}

textarea {
  resize: none;
  width:75%;
  border-color: lightblue;
  color:red;
  text-decoration-color: red;
  background-color: darkgrey;
}
h1 {
  text-align: center;
  color: white;
}

h3{
  text-align : center;
  color: black;
}

area {
  text-align: center; 
  width:max-width;
}

*::-webkit-input-placeholder {
    color: red;
}

*::-moz-placeholder {
    color: red;
}



select {
  text-align: center;
  display:center;

}

.inputx{
    padding:;
  font-size: ;
  text-align: center;
  cursor:
  outline:;
  color:;
  background-color: ;
  border: none;
  border-radius: ;
  box-shadow: ;

}

select { 
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;



 }

 input[type = submit]:active {
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }
 input[type=submit]:active {

background: green;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

}


 input[type=submit] {

    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;



}
input:after{
      content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
input:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


a {

  
    height:30px;
    width: 768px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}



body{
  background : black;
}

footer{
  padding-top 
}



p {
  text-align: center;
}



br {
  text-align: center; 
}