/* myStyle.css */


@font-face {
    font-family: garamond;
    src: url(garamond.ttf) format('embedded-opentype'),
    	 url('garamond.woff2') format('woff2'),
    	 url('garamond.woff') format('woff'), 
       	 url('garamond.ttf')  format('truetype');
       	}




@font-face {
    font-family: garamond;
    src: url(garamond.ttf) format('embedded-opentype'),
       url('garamond.woff2') format('woff2'),
       url('garamond.woff') format('woff'), 
         url('garamond.ttf')  format('truetype');
        }


div {
  font-family: garamond;

}


textarea {
  resize: none;
  width:75%;
  border-color: lightblue;
  color:red;
}
h1 {
  text-align: center;
  color: white;
}

h3{
  text-align : center;
  color: white;
}

area {
  text-align: center; 
  width:max-width;
}
form {

  text-align: center;

 
}

select {
  text-align: center;
  display:center;
  width:max-width;
}
input { 
  text-align: center;
  border-color:grey;
  background-color: white;
  width:75%

 }

 input[type=submit] {

    background: #0066A2;

  color: white;





  height: 50px;

  width: 100px;
  border: 1px solid #eee;
border-radius: 20px;
  font: bold 15px arial, sans-serif;


}
input[type=submit]:hover {

background: yellow;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;


}

p {
  text-align: center;
}

input[type=submit]:active {

background: green;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

}


br {
  text-align: center; 
}