/* myStyle.css */


@font-face {
    font-family: garamond;
    src: url(garamond.ttf) format('embedded-opentype'),
    	 url('garamond.woff2') format('woff2'),
    	 url('garamond.woff') format('woff'), 
       	 url('garamond.ttf')  format('truetype');
       	}


.flex-container {
  display: flex;
  justify-content: center;


}
div {
    font-family: garamond;
}

.flex-container > div {
     background: linear-gradient(red, yellow);

  text-align: center;
  margin-bottom:20px;

}

.flex-container2 {
height: 500px;
  display: flex;
  justify-content: center;

  align-content:center
 ;

}
.flex-container2 > div {
	height: 500px;

  justify-content: center;
  align-items: center;

  text-align: center;

}

.flex-container3 {
height: 50px;
  display: flex;
  justify-content: right;
  align-content:right;

}

.flex-container4{
 background-color: #000080;
 height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;




}


.flex-container5 {
	height:100px;
	margin:50px;

}

.flex-container6 {
	background-color: #000000;
}

.flex-container7 {
  justify-content: center;
}


a {

    background-color: #f44336;
    height:30px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}


a:hover {
    color: red;
}


a:active {
    color: blue;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

img {
	padding-right: 200px;
	padding-left: 200px

	;
}

h2 {

    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;

}

p {
	color:black;
	padding-top: 0px;
    text-align: center;
}

footer {
	padding-left:4px;
	padding-top:7px;
	padding-bottom:7px;
	text-align: left; 
	color:white;
}
